In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import yaml
from sklearn.metrics.pairwise import cosine_similarity

import autoencoder

In [3]:
autoencoder.representation_learning()

Autoencoder(
  (encoder0): Linear(in_features=1425, out_features=1024, bias=True)
  (encoder1): Linear(in_features=1024, out_features=1024, bias=True)
  (encoder2): Linear(in_features=1024, out_features=768, bias=True)
  (encoder22): Linear(in_features=768, out_features=512, bias=True)
  (encoder3): Linear(in_features=512, out_features=256, bias=True)
  (decoder0): Linear(in_features=256, out_features=512, bias=True)
  (decoder11): Linear(in_features=512, out_features=768, bias=True)
  (decoder1): Linear(in_features=768, out_features=1024, bias=True)
  (decoder2): Linear(in_features=1024, out_features=1024, bias=True)
  (decoder3): Linear(in_features=1024, out_features=1425, bias=True)
  (activation): Tanh()
)
Epoch 100/600, Loss: 0.35278938710689545
Epoch 200/600, Loss: 0.24133955171475044
Epoch 300/600, Loss: 0.2056262378509228
Epoch 400/600, Loss: 0.19267608168033454
Epoch 500/600, Loss: 0.18639300362421915
Epoch 600/600, Loss: 0.1847239933334864

In [4]:
 with open('./config.yaml', 'r') as f:
    config = yaml.load(f, Loader=yaml.FullLoader)

EMBEDDINGS_PATH = config["EMBEDDINGS_PATH"]

In [5]:
embeddings = pd.read_csv(EMBEDDINGS_PATH)

#embeddings

In [6]:
new_row = embeddings.iloc[84, 1:]

# Calculate cosine similarity
cos_sim = cosine_similarity(embeddings.iloc[:, 1:].values, new_row.values.reshape(1, -1))

# Create a dataframe with cosine similarity values and row indices
similarity_df = pd.DataFrame({'similarity': cos_sim.flatten(), 'index': embeddings.index})

# Sort dataframe by similarity in descending order
sorted_df = similarity_df.sort_values(by='similarity', ascending=False)

# Get the top k rows
k = 5  # Replace with your desired value of k
top_k_rows = embeddings.loc[sorted_df['index'].head(k)]

top_k_rows.song_name

84             U2 - Beautiful Day (Official Music Video)
197    blink-182 - All The Small Things (Official Mus...
354                            Imagine Dragons - Thunder
443    George Strait - Check Yes Or No (Official Musi...
256    Maroon 5 - She Will Be Loved (Official Music V...
Name: song_name, dtype: object

In [7]:


new_row = embeddings[embeddings.song_name=="Coldplay - Yellow (Official Video)"]
new_row

,song_name,0,1,2,3,4,5,6,7,8,...,246,247,248,249,250,251,252,253,254,255
275,Coldplay - Yellow (Official Video),-0.997377,-0.596357,-0.200335,-0.994675,-0.85077,-0.932724,0.681076,0.31529,0.449555,...,-0.55648,0.970623,0.96758,-0.816816,-0.993459,0.672766,0.564469,-0.981141,0.915764,0.228338

In [48]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

# new_row = pd.Series([0.5, 0.2, 0.8, ...])  # Replace with your new row data
new_row = embeddings.iloc[7, 1:]

# Calculate cosine similarity
cos_sim = cosine_similarity(embeddings.iloc[:, 1:].values, new_row.values.reshape(1, -1))

# Create a dataframe with cosine similarity values and row indices
similarity_df = pd.DataFrame({'similarity': cos_sim.flatten(), 'index': embeddings.index})

# Sort dataframe by similarity in descending order
sorted_df = similarity_df.sort_values(by='similarity', ascending=False)

# Get the top k rows
k = 5  # Replace with your desired value of k
top_k_rows = embeddings.loc[sorted_df['index'].head(k)]

# Print the top k rows
print(top_k_rows)

similarity_df

                                             song_name          0          1
7                   Coldplay - Yellow (Official Video)  -9.482277 -17.017149  \
355  Dustin Lynch - Small Town Boy (Official Music ...  -3.257727 -21.195219
272  The Head and the Heart - Another Story [LYRIC ...  -9.087346 -18.739649
152                Windser - 'Memory' (Official Video) -11.384016 -15.352129
499  In The End [Official HD Music Video] - Linkin ...  -0.142204 -12.916926

             2          3          4          5          6          7
7   -22.648094 -24.028070 -28.497684 -15.236567 -27.830055 -22.076004  \
355 -31.804800 -39.055073 -31.687256 -22.008572 -32.163673  -9.928259
272 -15.318180 -35.417496 -25.992620 -15.554015 -32.123146 -12.749828
152 -18.705595 -34.387920 -26.596876 -24.229233 -32.270203 -19.843042
499 -19.849882 -27.082024 -17.945333 -12.182645 -23.425377 -11.966296

             8  ...        246        247        248        249        250
7   -34.536442  ... -12.716101 -33.311287 -26.855339 -14.852716 -10.970520  \
355 -39.017513  ... -21.144735 -36.801308 -26.417698  -5.399412  -6.806280
272 -38.771873  ... -15.452153 -33.293392  -5.915218 -12.779036   0.059100
152 -39.774059  ... -15.644076 -32.967243  -0.713319 -11.792511  -2.093389
499 -37.188404  ... -10.601071 -28.905264  -6.844146  -1.174205  -3.502926

          251        252        253        254        255
7   -4.921639 -22.924620 -14.394688 -17.897991 -29.615364
355 -8.584983 -32.085678 -19.788677 -18.450663 -27.108330
272 -2.408171  -9.284594 -18.034630 -18.950037  -8.256599
152  1.595711  -7.464220 -18.288908 -16.573826 -14.562028
499  1.453113  -8.497476 -11.777222 -15.891867 -16.057480

[5 rows x 257 columns]

     similarity  index
0      0.610562      0
1      0.668604      1
2      0.777926      2
3      0.530004      3
4      0.561133      4
..          ...    ...
764    0.722502    764
765    0.538063    765
766    0.701004    766
767    0.620287    767
768    0.742801    768

[769 rows x 2 columns]